$lightYellow: #fffde4;

$primaryColor: #005aa7;
$successColor: #20c997;
$linkColor: $lightYellow;

$backgroundGradientTop: $primaryColor;
$backgroundGradientBottom: $lightYellow;

$footerColor: #212529;
