.form-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 95vh;
}

.form-box {
  background-color: white;
  box-shadow: 5px 10px 15px -5px;
  width: 100%;
}

.form-expiry-text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
