.form-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
}

.form-box {
  background-color: white;
  box-shadow: 5px 10px 15px -5px;
  width: 100%;
}
